@import "./variables";
@import "./mixin";
@import "./base";

@import "./components/header";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/button";
@import "./components/section";
@import "./components/policy";
@import "./components/product-card";
@import "./components/catalog";
@import "./components/custom-checkbox"